<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="com.star.printer"
        version="0.0.1">

    <name>Printer</name>
    <description>
        Cordova plugin to print using Star Portable BlueTooth Printer.
    </description>

    <repo>
        https://github.com/envisiondata/cordova-plugin-starprinter.git
    </repo>

    <keywords>
		Star Printer, iOS, android
    </keywords>

    <license>Apache 2.0</license>

    <author>James Vaught</author>

    <!-- cordova -->
    <engines>
        <engine name="cordova" version=">=3.0.0" />
		<!-- <engine name="StarIO.framework" version="2.0.0" platform="ios" scriptSrc="src/ios/StarIO.framework"/>-->
    </engines>
    <!-- interface -->
    <js-module src="www/starprinter.js" name="StarPrinter">
        <clobbers target="plugin.printer" />
        <clobbers target="cordova.plugins.printer" />
    </js-module>

    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="StarPrinter">
                <param name="ios-package" value="StarPrinter"/>
            </feature>
        </config-file>

        <header-file src="src/ios/CommonEnum.h" />
        <header-file src="src/ios/MiniPrinterFunctions.h" />
        <source-file src="src/ios/MiniPrinterFunctions.m" />		
        <header-file src="src/ios/PrinterFunctions.h" />
        <source-file src="src/ios/PrinterFunctions.m" />		
        <header-file src="src/ios/SigGen.h" />
        <source-file src="src/ios/SigGen.m" />		
        <header-file src="src/ios/StarBitmap.h" />
        <source-file src="src/ios/StarBitmap.m" />		
        <header-file src="src/ios/StarPrinter.h" />
        <source-file src="src/ios/StarPrinter.m" />
        <source-file src="src/ios/StarIO.framework"/>

		<framework src="ExternalAccessory.framework" />
        <framework src="CoreBluetooth.framework" />
        <framework src="CoreGraphics.framework" />

    </platform>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="StarPrinter">
                <param name="android-package" value="com.star.printer.StarPrinter"/>
            </feature>
        </config-file>
		
        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.BLUETOOTH" />
        </config-file>
		
		<source-file src="src/android/SigGen.java" target-dir="src/com/star/printer" />
		<source-file src="src/android/StarBitmap.java" target-dir="src/com/star/printer" />
		<source-file src="src/android/StarPrinter.java" target-dir="src/com/star/printer" />
		<source-file src="src/android/StarIOPort3.1.jar" target-dir="libs" />
    </platform>
</plugin>
